<h1>Edit Redirection</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.redirection_path(@conn, :update, @redirection)) %>

<span><%= link "Back", to: Routes.redirection_path(@conn, :index) %></span>
