<h1>Show Redirection</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @redirection.name %>
  </li>

  <li>
    <strong>Target:</strong>
    <%= @redirection.target %>
  </li>

  <li>
    <strong>Views:</strong>
    <%= @redirection.views %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.redirection_path(@conn, :edit, @redirection) %></span> |
<span><%= link "Back", to: Routes.redirection_path(@conn, :index) %></span>
